.blog
{
    background-color: rgba(255, 0, 60, 0.847);
    font-size: larger;
    font-style: oblique;
    font-weight: 900;
    text-overflow: ellipsis;
    text-decoration: dotted;
    

}

.vlog{
    background-color: cyan;
    font-weight: 900;
    font-style: inherit;
}
.tlog{
    background-color: rgb(243, 3, 11);
    background-position: initial;
}
table{
    border-radius: 100;
    margin-top: 5%;
    background-size: cover;
}
 
caption{
    font-weight: 900;
    background-color: rgb(43, 240, 8);

}
h1{
    background-image: initial;
}